.block-container {
  max-width: 400px;
  border: 1px solid #9E9E9E;
  margin: 20px;
}
.block-container .block-header {
  background-color: #9E9E9E;
  color: #000000;
  height: 40px;
  line-height: 45px;
  padding: 5px 15px;
}
